.App {
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-content {
  flex: 1;
}

.Home {
  display: inline;
  flex-direction: column;
}
.padded-grid {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
}

.large-size {
  font-size: 100vh;
}

.left-align {
  text-align: start;
}

.right-align {
  text-align: end;
}

.center-align {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.thicc-border {
  border-radius: 2%;
  border-color: black;
}

.footer {
  position: absolute;
  bottom: 0;
}

.form-style {
  margin: 10px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.padded-links {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
}

.font-medium {
  font-size: medium;
}

.page-center {
  align-items: center;
  align-content: center;
}
